language: go
go:
  - "1.8"
  - "1.9"
  - "1.10"
  - "1.11"
install:
  - go get -t ./...
  - go get github.com/mattn/goveralls
script:
  - shopt -s extglob
  - go test -v -covermode=count -coverprofile=coverage.out . ./!(benchmark|example)/
  - $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci
